/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    
    
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}

  .navbar-brand {
    color: #bababa;
  }
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  .btnquest {
    font-size: medium;
    background-color: rgb(100, 8, 125);
    color: #f1f1f1;
    margin-bottom: 5px;
    border-radius: 12px;
    border-radius:  6px;
    display:block;
  }

#questionsdiv {
  display: none;
}

  .btnStart {
    justify-content: center;
    align-items: center;
    font-size: x-large;
    background-color: rgb(100, 8, 125);
    color: #f1f1f1;
    border-radius: 12px;
    border-radius:  6px;
    display: flex;
  }



  #highScore {
    justify-content: center;
    align-items: center;
    font-size: medium;
    border-radius: 12px;
    border-radius:  6px;
    display: none;
  }

  .btnconn{
    align-items: center;
    font-size: medium;
    background-color: rgb(100, 8, 125);
    color: #f1f1f1;
    border-radius: 12px;
    border-radius:  6px;

  }
  .sectionQuest {
    display:block;
  }
  
  #titletop{
    display: blocks;
  }

  #conclusion {
    display: none;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }